<% if @info?.length: %>
<div class="container">
	<% for msg in @info: %>
	<div class="chip info"><%- msg %><i class="material-icons">close</i></div>
	<% end %>
</div>
<% end %>
<% if @success?.length: %>
<div class="container">
	<% for msg in @success: %>
	<div class="chip green success"><%- msg %><i class="material-icons">close</i></div>
	<% end %>
</div>
<% end %>
<% if @warning?.length: %>
<div class="container">
	<% for msg in @warning: %>
	<div class="chip red lighten-3 warn"><%- msg %><i class="material-icons">close</i></div>
	<% end %>
</div>
<% end %>
<% if @errors?.length: %>
<div class="container">
	<% for msg in @errors: %>
	<div class="chip red accent-1 error"><%- msg %><i class="material-icons">close</i></div>
	<% end %>
</div>
<% end %>