<!DOCTYPE html>
<html>

<head>
	<title>
		<%- @sitename %><% if @title: %> - <%= @title %><% end %>
	</title>

	<meta name="charset" content="utf-8">

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/bower_components/Materialize/dist/css/materialize.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<div class="container">
					<a href="/" class="brand-logo">
						<%= @title %>
					</a>
					<ul class="right">
					<% if @user : %>
						<li><span>Hello, <%= @user.firstname %></span></li>
						<li><a href="/logout" title="Log Out"><i class="material-icons">power_settings_new</i></a></li>
					<% else : %>
						<li><a href="/#login">Log In</a></li>
					<% end %>
						<% content 'nav' %>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<% include 'includes/messages' %>
	<% content %>

	<!--Import jQuery before materialize.js-->
	<script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="/bower_components/Materialize/dist/js/materialize.min.js" charset="utf-8"></script>
	<script src="/js/home.js" charset="utf-8"></script>
</body>

</html>
