<% extend 'layouts/faceLayout' %>
<main class="valign-wrapper">
    <div class="container valign">
      <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">

					<% include 'face/includes/regFrm' %>
					<% include 'face/includes/loginFrm' %>

        </div>
      </div>
    </div>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 All Rights Reserved WTF?
            <a class="grey-text text-lighten-4 right" href="#!">Search for cats!</a>
        </div>
    </div>
</footer>
