<main class="valign-wrapper">
	<div class="container valign">
		<div class="row">
			<% if @err && @err.message: %>
			<div class="error"><%- @err.message %></div>
			<% end %>
		</div>
		<div class="row">
			<% if @task.isNew: %>
				<% @action = '/tasks/create' %>
			<% else: %>
				<% @action = '/tasks/' + @task._id %>
			<% end %>
			<form action="<%= @action %>" method="POST" class="col s12" id="taskform">
				<% if not @task.isNew: %>
				<input type="hidden" name="_method" value="PUT">
				<% end %>
				<div class="row">
					<div class="input-field col s12">
						<%- @text_field_tag("title",{"class":"validate","value":@task.title,"placeholder":"Title","required":"","aria-required":true}) %>
						<%- @label_for("title",{"data-success":"Correct!","data-error":"Wrong!","value":"Title"}) %>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea required="" aria-required="true" id="description" name="description" class="materialize-textarea"><%= @task.description %></textarea>
						<label for="description" data-error="Wrong!" data-success="Correct!">Description</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input placeholder="Price" id="price" name="price" type="text" class="validate"  value="<%= @task.price %>">
						<label for="price" data-error="Wrong!" data-success="Correct!">Price</label>
					</div>
				</div>
				<div class="input-field col s12">
					<%- @select_tag("category",[
						{"value":"","text":"Choose your option","disabled":true},
						{"value":1,"text":"Repairment"},
						{"value":2,"text":"Fuck the owner"},
						{"value":"3","text":"Owner will fuck you"}
					],{"value":@task.category}) %>
					<label data-error="Wrong!" data-success="Correct!">Category</label>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>
</main>