<% extend 'layouts/faceLayout' %>
<div class="container">
	<h4>Tasks list</h4>&nbsp;<a href="/tasks/new">New task</a>
	<% if @tasks?.length : %>
	<ul class="collection">
		<% for task in @tasks : %>
		<li class="collection-item avatar task" id="task-<%- task._id %>">
			<a href="/tasks/<%- task._id %>">
				<i class="material-icons circle green">insert_chart</i>
				<span class="title"><%= task.title %></span>
			</a>
			<p>
				Price: $<%= task.price %>
				<br>
				Description: <%= task.description %>
			</p>

			<form action="/tasks/<%- task._id %>/delete" method="post" onsubmit="return confirm('Are you sure?')">
				<input type="hidden" name="_method" value="DELETE">
				<button class="btn-floating secondary-content" type="submit"><i class="material-icons">delete</i></button>
			</form>
		</li>
		<% end %>
	</ul>
	<% end %>
	<!-- Pagination -->
	<% if @tasks?.length: %>
		<ul class="pagination">
			<% if @page>1: %>
				<li class="waves-effect"><a href="/tasks/?page=<%- @page-1 %>"><i class="material-icons">chevron_left</i></a></li>
			<% else: %>
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			<% end %>
			<% for page_number in [1..@pages]: %>
				<% if @page==page_number: %>
					<li class="active"><a href="#!"><%- page_number %></a></li>
				<% else: %>
					<li class="waves-effect"><a href="/tasks/?page=<%- page_number %>"><%- page_number %></a></li>
				<% end %>
			<% end %>
			<% if @page<@pages: %>
				<li class="waves-effect"><a href="/tasks/?page=<%- @page+1 %>"><i class="material-icons">chevron_right</i></a></li>
			<% else: %>
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			<% end %>
		</ul>
	<% end %>
	<!-- End pagination -->
</div>