<% extend 'layouts/faceLayout' %>
<div class="container">
	<ul class="collection">
		<li class="collection-item avatar task">
			<i class="material-icons circle green">insert_chart</i>
			<span class="title"><%= @task.title %></span>&nbsp;<a href="/tasks/<%- @task._id %>/edit">Edit</a>
			<p>
				Price: $<%= @task.price %>
				<br>
				Description: <%= @task.description %>
			</p>
			<a href="#!" class="secondary-content delete-item"><i class="material-icons">delete</i></a>
		</li>
	</ul>
</div>