<form action="/login" method="POST" id="logform" style="display:none;">
	<div class="card">

		<div class="card-content">
			<span class="card-title">Log In</span>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" id="log_email" name="email" required class="validate">
					<label for="log_email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="password" id="log_pass" name="password" required class="validate">
					<label for="log_pass">Password</label>
				</div>
			</div>
		</div>

		<div class="card-action right-align">
			<a class="js-toggle-form" href="#signin">Sign In</a>
			<button class="btn waves-effect waves-light" type="submit" name="action">Log In
				<i class="material-icons right">send</i>
			</button>
		</div>

	</div>
</form>
