<form action="/signin" method="POST" id="regform">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Sign In</span>
			<div class="row">
				<div class="input-field col s12 m6">
					<input type="text" id="sign_fname" name="fname" required class="validate">
					<label for="sign_fname">First Name</label>
				</div>
				<div class="input-field col s12 m6">
					<input type="text" id="sign_lname" name="lname" required class="validate">
					<label for="sign_lname">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="email" id="sign_email" name="email" required class="validate">
					<label for="sign_email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="password" id="sign_pass" name="pass" required class="validate">
					<label for="sign_pass">Password</label>
				</div>
			</div>
		</div>
		<div class="card-action right-align">
			<a class="js-toggle-form" href="#login">Log In</a>
			<button class="btn waves-effect waves-light" type="submit" name="action">Sign In
				<i class="material-icons right">send</i>
			</button>
		</div>
	</div>
</form>
