<% extend 'layouts/faceLayout' %>
<div class="container">
	<h1>Users</h1>
	<% if @users?.length: %>
	<ul class="collection">
		<% for user in @users: %>
		<li class="collection-item"><%= user.fullname %> <a href="mailto:<%- user.email %>"><%= user.email %></a></li>
		<% end %>
	</ul>
	<% end %>
</div>